// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#dropdown-pacient{
    height:500px;
    overflow-y:auto;
 }

 #dropdown-user{
    height:500px;
    overflow-y:auto;
 }